{% extends 'base.html' %}

{% block title %}Войти{% endblock %}

{% block content %}
<div class="col-md-10 col-lg-10">
    <div class="text-center my-2 my-sm-3 my-lg-4">
      <h4>Войти:</h4>
    </div>

    <div class="d-flex justify-content-center">
      <form method='POST' enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% for field in form %}
            <fieldset class="control-group">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-text">{{ field.help_text }} </p>
                </div>
            </fieldset>
        {% endfor %}
        <button name="submit" class="btn btn-primary" value="submit" id="publish_button">Войти</button>
      </form>
  </div>
  <div class="text-center my-2 my-sm-3 my-lg-4">
    {{ form.non_field_errors }}
  </div>
</div>
{% endblock %}