
<div class="row">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if category %}&category={{ category }}{% endif %}">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if category %}&category={{ category }}{% endif %}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if category %}&category={{ category }}{% endif %}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if category %}&category={{ category }}{% endif %}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

