{% extends 'base.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}


<div class="card mb-3">

  <div class="card-body">
    <h1 class="card-title">{{ item.title }}</h1>
    <p class="card-text"><small class="text-muted">Добавлено: {{item.created_at}} пользователем: {{item.owner.username}}</small></p>
    <p class="card-text">{{ item.description }}</p>

  </div>
  {% for image in item.images.all %}
    <img src="{{ image.img.url }}" class="card-img-bottom" alt="{{ item.title }}">
  {% endfor %}
</div>

{% endblock %}
