{% extends 'base.html' %}

{% block title %}
  {% if category %}
    {{ category }}
  {% else %}
    Главная страница
  {% endif %}
{% endblock %}


{% block content %}
<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>КАТЕГОРИИ</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                  <span data-feather="file-text"></span>
                  Любая категория
                </a>
              </li>
              {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link" href="{{ request.path }}?category={{ category.title }}">
                  <span data-feather="file-text"></span>
                  {{ category.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            {% if category %}
              <h2 class="h2">Вещи на обмен из категории: <i>{{ category }}</i></h2>
            {% else %}
              <h2 class="h2">Все вещи на обмен</h2>
            {% endif %}

          </div>

          {% if page_obj %}
            {% for item in page_obj %}

              <div class="card" style="width: 100%">
                <img src="{{ item.images.all.0.img.url }}" class="card-img-top" alt="{{ item.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">{{ item.description|truncatewords:30 }}</p>
                  <a href="{% url 'item_detail' item.id %}" class="btn btn-primary">Подробнее</a>
                </div>
              </div>

            {% endfor page_obj %}
          {% else %}
            <h4>Вещей на обмен пока что нет.</h4>
          {% endif %}

        </main>
      </div>
      
      {% if is_paginated %}
        <div>
          {% include 'pagination.html'%}
        </div>
      {% endif %}
      
    </div>
{% endblock %}
