{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div>
<h1>{{ title }}:</h1>
<h2>{{ offers|length }} вещей</h2>
{% if page_obj %}

    {% for offer in offers %}
    <div class="card" style="width: 40%">
        <div class="card-body">
          <h5 class="card-title">Пользователь <b>{{ offer.item_to_swap.owner.username }}</b>
              предложил обмен пользователю <b> {{ offer.wanted_item.owner.username }}</b>.
          </h5>
            {% if offer.item_to_swap.images.all.0.img %}
            <img class="card-img-top" src="{{ offer.item_to_swap.images.all.0.img.url }}" alt="{{ item.title }}">
            {% endif %}
          <p class="card-text">
              Предложение: <a href="{% url 'item_detail' offer.item_to_swap.id %}">{{ offer.item_to_swap.title }}</a>
              обменять на <a href="{% url 'item_detail' offer.wanted_item.id %}">{{ offer.wanted_item.title}}</a>
          </p>
          <p class="card-text"><small class="text-muted">
            Дата предложения: {{ offer.created_at }}
          </small></p>
        </div>
      </div>
    {% endfor %}

  {% endif %}

  {% if is_paginated %}
  <div>
    {% include 'pagination.html'%}
  </div>
  {% endif %}
</div>

{% endblock content %}