{% extends 'base.html' %}

{% block title %}Мне предлагают{% endblock %}

{% block content %}

<div>
{% if page_obj %}
    <p>Мне предлагают:</p>

    {% for item in items_to_swap %}
    <div class="card" style="width: 40%">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'item_detail' item.id %}">{{ item.title }}</a></h5>
            <img src="{{ item.images.all.0.img.url }}" class="card-img-top" alt="{{ item.title }}">
          <p class="card-text">
              Пользователь <b>{{ item.owner.username }}</b> предлагает обмен.
          </p>
          <p class="card-text"><small class="text-muted">
            Категория: <a href="{% url 'index' %}?category={{ item.category.title }}">
              {{ item.category.title }}
            </a>
          </small></p>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if is_paginated %}
  <div>
    {% include 'pagination.html'%}
  </div>
  {% endif %}
</div>

{% endblock content %}