{% extends 'base.html' %}

{% block title %}{{ user_details.username }}{% endblock %}

{% block content %}

<div>

  {% if page_obj %}
  <p><h4>Объявления пользователя {{ user_details.username }}:</h4></p>
  <div class="row">
    <div class="card-deck">
      {% for item in page_obj %}
        {% include 'items/item_card.html' %}
      {% endfor %}
    </div>
  </div>
  {% else %}
    <h4>У этого пользователя вещей на обмен пока что нет.</h4>
  {% endif %}

  <section>
    {% if is_paginated %}
    <div>
      {% include 'pagination.html'%}
    </div>
    {% endif %}
  </section>
</div>
{% endblock %}